@use "styles/variables.module";

.container {
    width: 100%;
    text-align: center;

    &Title {
        margin: 0;
    }

    &Line {
        display: block;
        width: 16rem;
        height: 2px;
        margin: 1.5rem auto 1rem;
        background-color: variables.$secondary;
        border-radius: 0.5rem;
    }

    &Subtitle {
        margin: 0;
    }
}
