@use 'styles/variables.module';

.container {
	display: flex;
	align-items: center;
	margin-left: auto;

	&Link {
		&:not(:last-of-type) {
			margin-right: 3rem;
		}

		&Item {
			display: inline-block;
			color: variables.$white;
			transition: variables.$transition-color;

			&:hover {
				color: variables.$secondary;
				border-color: variables.$secondary;
			}

			&::after {
				content: '';
				display: block;
				width: 0%;
				height: 2px;
				margin: 0.2rem 0 0;
				background: variables.$secondary;
				transition: variables.$transition;
			}

			&:hover::after {
				width: 100%;
			}

			&[data-current='true']::after {
				width: 100%;
			}
		}
	}
}
